[submodule "bullet3"]
	path = 3rdparty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "glad"]
	path = 3rdparty/glad
	url = https://github.com/premake-libs/glad.git
[submodule "imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
