[submodule "bullet3"]
	path = 3rdparty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Open3D"]
	path = 3rdparty/Open3D
	url = https://github.com/isl-org/Open3D.git
